<div class="flex flex-col items-center justify-center py-32 gap-5">
  <h1
    class="text-6xl font-bold py-8 bg-gradient-to-tr from-blue-400 to-red-600 bg-clip-text text-transparent"
  >
    Typing Test
  </h1>
  <div class="text-xl flex flex-col gap-5 w-fit">
    <p class="font-semibold text-neutral-800">
      <span
        *ngFor="let letter of letters; let i = index"
        [ngClass]="
          getColor(letter) +
          (letter.value === ' ' && letter.isCorrect === false
            ? ' bg-red-500 w-2 h-[1.5ch] bg-opacity-20 inline-block'
            : '')
        "
        >{{ letter.value }}</span
      >
    </p>
    <input
      class="bg-gray-800 w-full px-8 py-5 rounded-full outline-none"
      (input)="onInput($event.target!)"
      [disabled]="text === submittedText"
      [value]="submittedText"
    />
  </div>
  <div class="flex flex-col items-center gap-5">
    <p *ngIf="text === submittedText" class="text-2xl font-bold">
      {{ getResult() }} WPM
    </p>
    <button
      class="bg-gradient-to-tr from-blue-400 to-red-600 text-white font-semibold text-lg px-5 py-2.5 flex items-center gap-3 rounded-full"
      (click)="resetGame()"
    >
      <i class="fa-solid fa-rotate-right"></i>
      <span>Reset</span>
    </button>
  </div>
</div>
